/* General style */

body {
    background-color: #0B5563;
    font-family: "Figtree", sans-serif;
    color: white;
    text-align: center;
}

h1 {
    font-family: "Oxanium", sans-serif;
    color: white;
}

h2 {
    margin-bottom: 10px;
}

.instructions {
    padding: 0rem 3rem;
}

.game-area {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 2rem;
}


.game-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.game-panel button {
    background: white;
    box-sizing: border-box;
    border-radius: 50%;
    height: 130px;
    width: 130px;
    border: 12px, solid, #BEB8EB;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-choice:hover {
    border: 15px;
}

.btn-choice:focus {
    background-color: #FDE321;
}

.user-panel {
    /* background: #BEB8EB; */
    box-sizing: border-box;
    margin: 0rem 2rem 1rem 1rem;

}

.puter-panel {
    /* background: #5299D3; */
    box-sizing: border-box;
    margin: 0rem 1rem 1rem 2rem;

}

/*.reset-btn {
    background-color: #0B5563;
    color: white;
    border: 2px solid white;
    border-radius: 5%;
    padding: 0.5rem;
}

.reset-btn:active,
.reset-btn:hover {
    border: 4px solid white;
} */

.button-icon {
    max-width: 68%;
}

.player-info-panel {
    display: flex;
    flex-direction: row;
}

/*.score-area {
    display: flex;
    justify-content: space-around;
}*/

.rules {
    padding: 0rem 3rem;
}