/* General style */

body {
    background-color: #0B5563;
    font-family: "Figtree", sans-serif;
    color: white;
    text-align: center;
}

h1 {
    font-family: "Oxanium", sans-serif;
    color: white;
}

h2 {
    margin-bottom: 10px;
}

.instructions {
    padding: 0rem 3rem;
}


.game-panel {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.user-panel {
    /* background: #BEB8EB; */
    box-sizing: border-box;
    width: 40%;
    height: 85vh;
    max-height: 570px;
    max-width: 300px;
    margin: 0rem 1rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}

.computer-panel {
    /* background: #5299D3; */
    box-sizing: border-box;
    width: 40%;
    height: 85vh;
    max-height: 570px;
    max-width: 300px;
    margin: 0rem 1rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}

.game-panel button {
    background: white;
    box-sizing: border-box;
    border-radius: 50%;
    height: 130px;
    width: 130px;
    border: 12px, solid;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reset-btn {
    background-color: #0B5563;
    color: white;
    box-styling: border-box;
    border: 2px solid white;
    border-radius: 5%;
    padding: 0.5rem;
}

.user-panel > button {
    border-color: #BEB8EB;
}

.computer-panel > button {
    border-color: #5299D3;
}

.button-icon {
    max-width: 68%;
}

.score-area {
    display: flex;
    justify-content: space-around;
}

.rules {
    padding: 0rem 3rem;
}